# Data preprocessing

In [1]:
import pandas as pd
import os
import csv

## Useful Functions

In [2]:
def get_clean_list_of_files(paht):
    file_list = [file for file in os.listdir(paht) if not file.startswith(".")]
    file_list = [file for file in file_list if file.endswith(".csv")]
    return file_list

In [3]:
path_out = "../data/processed/neo4j/"

## Residing

In [12]:
path_residing_in = "../data/raw/residing/"
file_out_residing = path_out + 'relationsips_residing.csv'

In [13]:
residing_list = get_clean_list_of_files(path_residing_in)
residing_list[0:4]

['refugees-residing-lie.csv',
 'refugees-residing-png.csv',
 'refugees-residing-fin.csv',
 'refugees-residing-cyp.csv']

In [14]:
column_list = ['#country+residence','#country+origin','#date+year', "#affected+total"]
first_line = [":START_ID(Country)",":END_ID(Country)","year","affected_number"]

countries = set()

with open(file_out_residing, 'a') as f:
    csv.writer(f).writerow(first_line)
    
    for file_in in residing_list:
        
        ds = pd.read_csv(path_residing_in + file_in, skiprows=1)
        ds = ds[column_list]
        #ds['relationship'] = 'ORIGINATE_FROM'
        
        countries.update(ds['#country+residence'].unique())
        countries.update(ds['#country+origin'].unique())
        
        ds.to_csv(f, header=False, index=False)

In [15]:
len(countries)

229

In [16]:
with open(path_out + 'countries_residing.csv', 'w') as f:
    f.write("countryId:ID(Country)\n")
    for item in countries:
        f.write('"' + item + '"\n')

## Originatig

In [ ]:
path_originating_in = "../data/raw/originating/"

In [ ]:
originating_list = get_clean_list_of_files(path_originating_in)
originating_list[0:4]

## World Bank Indicators

In [6]:
path_indicators_in = "../data/raw/indicators/"

In [8]:
indicators_list = get_clean_list_of_files(path_indicators_in)
indicators_list[0:4]

['world-bank-indicators-for-netherlands.csv',
 'world-bank-indicators-for-korea-rep.csv',
 'world-bank-indicators-for-antigua-and-barbuda.csv',
 'world-bank-indicators-for-gambia-the.csv']

In [9]:
ds = pd.read_csv(path_indicators_in + "world-bank-indicators-for-netherlands.csv")

In [10]:
ds

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+num
1,Netherlands,NLD,2017,"Population, total",SP.POP.TOTL,17132854
2,Netherlands,NLD,2016,"Population, total",SP.POP.TOTL,17030314
3,Netherlands,NLD,2015,"Population, total",SP.POP.TOTL,16939923
4,Netherlands,NLD,2014,"Population, total",SP.POP.TOTL,16865008
5,Netherlands,NLD,2013,"Population, total",SP.POP.TOTL,16804432
6,Netherlands,NLD,2012,"Population, total",SP.POP.TOTL,16754962
7,Netherlands,NLD,2011,"Population, total",SP.POP.TOTL,16693074
8,Netherlands,NLD,2010,"Population, total",SP.POP.TOTL,16615394
9,Netherlands,NLD,2009,"Population, total",SP.POP.TOTL,16530388
10,Netherlands,NLD,2008,"Population, total",SP.POP.TOTL,16445593
11,Netherlands,NLD,2007,"Population, total",SP.POP.TOTL,16381696
12,Netherlands,NLD,2006,"Population, total",SP.POP.TOTL,16346101
13,Netherlands,NLD,2005,"Population, total",SP.POP.TOTL,16319868
14,Netherlands,NLD,2004,"Population, total",SP.POP.TOTL,16281779
15,Netherlands,NLD,2003,"Population, total",SP.POP.TOTL,16225302
16,Netherlands,NLD,2002,"Population, total",SP.POP.TOTL,16148929
17,Netherlands,NLD,2001,"Population, total",SP.POP.TOTL,16046180
18,Netherlands,NLD,2000,"Population, total",SP.POP.TOTL,15925513
19,Netherlands,NLD,1999,"Population, total",SP.POP.TOTL,15812088
20,Netherlands,NLD,1998,"Population, total",SP.POP.TOTL,15707209
21,Netherlands,NLD,1997,"Population, total",SP.POP.TOTL,15610650
22,Netherlands,NLD,1996,"Population, total",SP.POP.TOTL,15530498
23,Netherlands,NLD,1995,"Population, total",SP.POP.TOTL,15459006
24,Netherlands,NLD,1994,"Population, total",SP.POP.TOTL,15382838
25,Netherlands,NLD,1993,"Population, total",SP.POP.TOTL,15290368
26,Netherlands,NLD,1992,"Population, total",SP.POP.TOTL,15184166
27,Netherlands,NLD,1991,"Population, total",SP.POP.TOTL,15069798
28,Netherlands,NLD,1990,"Population, total",SP.POP.TOTL,14951510
29,Netherlands,NLD,1989,"Population, total",SP.POP.TOTL,14848907
...,...,...,...,...,...,...
1653,Netherlands,NLD,1989,Urban population (% of total),SP.URB.TOTL.IN.ZS,68.296
1654,Netherlands,NLD,1988,Urban population (% of total),SP.URB.TOTL.IN.ZS,67.906
1655,Netherlands,NLD,1987,Urban population (% of total),SP.URB.TOTL.IN.ZS,67.513
1656,Netherlands,NLD,1986,Urban population (% of total),SP.URB.TOTL.IN.ZS,67.117
1657,Netherlands,NLD,1985,Urban population (% of total),SP.URB.TOTL.IN.ZS,66.719
1658,Netherlands,NLD,1984,Urban population (% of total),SP.URB.TOTL.IN.ZS,66.319
1659,Netherlands,NLD,1983,Urban population (% of total),SP.URB.TOTL.IN.ZS,65.916
1660,Netherlands,NLD,1982,Urban population (% of total),SP.URB.TOTL.IN.ZS,65.511
1661,Netherlands,NLD,1981,Urban population (% of total),SP.URB.TOTL.IN.ZS,65.104
1662,Netherlands,NLD,1980,Urban population (% of total),SP.URB.TOTL.IN.ZS,64.745
1663,Netherlands,NLD,1979,Urban population (% of total),SP.URB.TOTL.IN.ZS,64.435
1664,Netherlands,NLD,1978,Urban population (% of total),SP.URB.TOTL.IN.ZS,64.123
1665,Netherlands,NLD,1977,Urban population (% of total),SP.URB.TOTL.IN.ZS,63.811
1666,Netherlands,NLD,1976,Urban population (% of total),SP.URB.TOTL.IN.ZS,63.498
1667,Netherlands,NLD,1975,Urban population (% of total),SP.URB.TOTL.IN.ZS,63.183
1668,Netherlands,NLD,1974,Urban population (% of total),SP.URB.TOTL.IN.ZS,62.867
1669,Netherlands,NLD,1973,Urban population (% of total),SP.URB.TOTL.IN.ZS,62.55
1670,Netherlands,NLD,1972,Urban population (% of total),SP.URB.TOTL.IN.ZS,62.232
1671,Netherlands,NLD,1971,Urban population (% of total),SP.URB.TOTL.IN.ZS,61.913
1672,Netherlands,NLD,1970,Urban population (% of total),SP.URB.TOTL.IN.ZS,61.663
1673,Netherlands,NLD,1969,Urban population (% of total),SP.URB.TOTL.IN.ZS,61.481
1674,Netherlands,NLD,1968,Urban population (% of total),SP.URB.TOTL.IN.ZS,61.3
1675,Netherlands,NLD,1967,Urban population (% of total),SP.URB.TOTL.IN.ZS,61.118
1676,Netherlands,NLD,1966,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.936
1677,Netherlands,NLD,1965,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.753
1678,Netherlands,NLD,1964,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.57
1679,Netherlands,NLD,1963,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.387
1680,Netherlands,NLD,1962,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.204
1681,Netherlands,NLD,1961,Urban population (% of total),SP.URB.TOTL.IN.ZS,60.02
1682,Netherlands,NLD,1960,Urban population (% of total),SP.URB.TOTL.IN.ZS,59.752

column_list = ['#country+residence','#country+origin','#date+year', "#affected+total"]

countries = set()

with open('../data/processed/prueba.csv', 'a') as f:
    csv.writer(f).writerow(column_list)
    
    for file_in in residing_list:
        
        ds = pd.read_csv(path_residing_in + file_in, skiprows=1)
        ds = ds[column_list]
        
        countries.update(ds['#country+residence'].unique())
        countries.update(ds['#country+origin'].unique())
        
        ds.to_csv(f, header=False, index=False)