# Data preprocessing to load into Neo4j

In [69]:
import pandas as pd
import os
import csv

## Custom Functions

In [70]:
def get_clean_list_of_files(paht):
    file_list = [file for file in os.listdir(paht) if not file.startswith(".")]
    file_list = [file for file in file_list if file.endswith(".csv")]
    return file_list

In [71]:
def process_relationships_neo4j(file_list, column_list, path_in, path_file_out, WRITE_DATA = False):
    
    countries = set()
    
    if os.path.exists(path_file_out) and WRITE_DATA:
        os.remove(path_file_out)
    
    with open(path_file_out, 'a') as f:
        
        first_line_file = [":START_ID(Country)",":END_ID(Country)","year:int","affected_number:float"]
        csv.writer(f).writerow(first_line_file)
    
        for file_in in file_list:
        
            df = pd.read_csv(path_in + file_in, skiprows=1, na_values=["*","0.0"])
            df = df[column_list]
            df = df.dropna(axis=0, how='any') # remove rows with missing data
            df['#affected+total'] = df['#affected+total'].astype(int)
            
            countries.update(df['#country+residence'].unique())
            countries.update(df['#country+origin'].unique())
            
            if WRITE_DATA:
                df.to_csv(f, header=False, index=False)
        
    return countries

In [94]:
def process_nodes_neo4j(file_list, path_in, path_file_out, countries_list, WRITE_DATA = False):
    
    if os.path.exists(path_file_out) and WRITE_DATA:
        os.remove(path_file_out)
    
    with open(path_file_out, 'a') as f:
        
        first_line_file = ["countryId:ID(Country)","year:int", "population:int", "int_migrant_stock", "pop_growth", "GDP_dollars", "inflation_percentage"]
        csv.writer(f).writerow(first_line_file)
    
        for file_in in file_list:
        
            df = pd.read_csv(path_in + file_in, skiprows=1, na_values=[""])
            
            country = df['#country+name'].unique()[0]
            
            if country in countries_list:
                
                df = df.dropna(axis=0, how='any') # remove rows with missing data
                
                return df
                
                
                
                
                if WRITE_DATA:
                    df_final.to_csv(f, header=False, index=False)
        
    return countries

with open(path_out + 'countries_residing.csv', 'w') as f:
    f.write("countryId:ID(Country)\n")
    for item in countries:
        f.write('"' + item + '"\n')

## Common Variables

In [73]:
path_out = "../data/processed/neo4j/"
WRITE_DATA_FLAG = True

## People of concern. Residing
#### Relationship : **RESIDE_IN**

Define variables

In [74]:
path_in_residing = "../data/raw/residing/"
file_out_residing = path_out + 'relationsips_residing.csv'

In [75]:
column_list_residing = ['#country+origin', '#country+residence', '#date+year', "#affected+total"]

Define a list with all files located in the residing folder:

In [76]:
residing_list = get_clean_list_of_files(path_in_residing)
residing_list[0:4]

['refugees-residing-lie.csv',
 'refugees-residing-png.csv',
 'refugees-residing-fin.csv',
 'refugees-residing-cyp.csv']

Call function to process raw data and generate the required csv file to load into neo4j:

In [77]:
countries_residing = process_relationships_neo4j(residing_list, column_list_residing, path_in_residing, file_out_residing, WRITE_DATA_FLAG)

In [83]:
len(countries_residing)

224

In [ ]:
with open(path_out + 'countries_residing.csv', 'w') as f:
    f.write("countryId:ID(Country)\n")
    for item in countries:
        f.write('"' + item + '"\n')

## People of concern. Originating
#### Relationship : **ORIGINATE_FROM**

Define variables

In [78]:
path_in_originating = "../data/raw/originating/"
file_out_originating = path_out + 'relationsips_originating.csv'

In [79]:
column_list_originating = ['#country+residence', '#country+origin', '#date+year', "#affected+total"]

Define a list with all files located in the originating folder:

In [80]:
originating_list = get_clean_list_of_files(path_in_originating)
originating_list[0:4]

['refugees-originating-prt.csv',
 'refugees-originating-nzl.csv',
 'refugees-originating-khm.csv',
 'refugees-originating-isr.csv']

Call function to process raw data and generate the required csv file to load into neo4j:

In [82]:
countries_originating = process_relationships_neo4j(originating_list, column_list_originating, path_in_originating, file_out_originating, WRITE_DATA_FLAG)

In [84]:
len(countries_originating)

199

In [ ]:
with open(path_out + 'countries_originating.csv', 'w') as f:
    f.write("countryId:ID(Country)\n")
    for item in countries:
        f.write('"' + item + '"\n')

## World Bank Indicators

Define variables

In [88]:
path_in_indicators = "../data/raw/indicators/"
file_out_indicators_residing = path_out + 'countries_nodes_residing.csv'
file_out_indicators_originating = path_out + 'countries_nodes_originating.csv'

Define a list with all files located in the indicators folder:

In [89]:
indicators_list = get_clean_list_of_files(path_in_indicators)
indicators_list[0:4]

['world-bank-indicators-for-netherlands.csv',
 'world-bank-indicators-for-korea-rep.csv',
 'world-bank-indicators-for-antigua-and-barbuda.csv',
 'world-bank-indicators-for-gambia-the.csv']

Call function to process raw data and generate the required csv file to load into neo4j:

In [98]:
countries_indicators_residing = process_nodes_neo4j(indicators_list[0:1], path_in_indicators, file_out_indicators_residing, countries_residing, WRITE_DATA_FLAG)

In [99]:
countries_indicators_residing

,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+num
0,Netherlands,NLD,2017,"Population, total",SP.POP.TOTL,1.713285e+07
1,Netherlands,NLD,2016,"Population, total",SP.POP.TOTL,1.703031e+07
2,Netherlands,NLD,2015,"Population, total",SP.POP.TOTL,1.693992e+07
3,Netherlands,NLD,2014,"Population, total",SP.POP.TOTL,1.686501e+07
4,Netherlands,NLD,2013,"Population, total",SP.POP.TOTL,1.680443e+07
5,Netherlands,NLD,2012,"Population, total",SP.POP.TOTL,1.675496e+07
6,Netherlands,NLD,2011,"Population, total",SP.POP.TOTL,1.669307e+07
7,Netherlands,NLD,2010,"Population, total",SP.POP.TOTL,1.661539e+07
8,Netherlands,NLD,2009,"Population, total",SP.POP.TOTL,1.653039e+07
9,Netherlands,NLD,2008,"Population, total",SP.POP.TOTL,1.644559e+07
10,Netherlands,NLD,2007,"Population, total",SP.POP.TOTL,1.638170e+07
11,Netherlands,NLD,2006,"Population, total",SP.POP.TOTL,1.634610e+07
12,Netherlands,NLD,2005,"Population, total",SP.POP.TOTL,1.631987e+07
13,Netherlands,NLD,2004,"Population, total",SP.POP.TOTL,1.628178e+07
14,Netherlands,NLD,2003,"Population, total",SP.POP.TOTL,1.622530e+07
15,Netherlands,NLD,2002,"Population, total",SP.POP.TOTL,1.614893e+07
16,Netherlands,NLD,2001,"Population, total",SP.POP.TOTL,1.604618e+07
17,Netherlands,NLD,2000,"Population, total",SP.POP.TOTL,1.592551e+07
18,Netherlands,NLD,1999,"Population, total",SP.POP.TOTL,1.581209e+07
19,Netherlands,NLD,1998,"Population, total",SP.POP.TOTL,1.570721e+07
20,Netherlands,NLD,1997,"Population, total",SP.POP.TOTL,1.561065e+07
21,Netherlands,NLD,1996,"Population, total",SP.POP.TOTL,1.553050e+07
22,Netherlands,NLD,1995,"Population, total",SP.POP.TOTL,1.545901e+07
23,Netherlands,NLD,1994,"Population, total",SP.POP.TOTL,1.538284e+07
24,Netherlands,NLD,1993,"Population, total",SP.POP.TOTL,1.529037e+07
25,Netherlands,NLD,1992,"Population, total",SP.POP.TOTL,1.518417e+07
26,Netherlands,NLD,1991,"Population, total",SP.POP.TOTL,1.506980e+07
27,Netherlands,NLD,1990,"Population, total",SP.POP.TOTL,1.495151e+07
28,Netherlands,NLD,1989,"Population, total",SP.POP.TOTL,1.484891e+07
29,Netherlands,NLD,1988,"Population, total",SP.POP.TOTL,1.476009e+07
...,...,...,...,...,...,...
1652,Netherlands,NLD,1989,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.829600e+01
1653,Netherlands,NLD,1988,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.790600e+01
1654,Netherlands,NLD,1987,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.751300e+01
1655,Netherlands,NLD,1986,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.711700e+01
1656,Netherlands,NLD,1985,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.671900e+01
1657,Netherlands,NLD,1984,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.631900e+01
1658,Netherlands,NLD,1983,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.591600e+01
1659,Netherlands,NLD,1982,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.551100e+01
1660,Netherlands,NLD,1981,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.510400e+01
1661,Netherlands,NLD,1980,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.474500e+01
1662,Netherlands,NLD,1979,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.443500e+01
1663,Netherlands,NLD,1978,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.412300e+01
1664,Netherlands,NLD,1977,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.381100e+01
1665,Netherlands,NLD,1976,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.349800e+01
1666,Netherlands,NLD,1975,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.318300e+01
1667,Netherlands,NLD,1974,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.286700e+01
1668,Netherlands,NLD,1973,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.255000e+01
1669,Netherlands,NLD,1972,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.223200e+01
1670,Netherlands,NLD,1971,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.191300e+01
1671,Netherlands,NLD,1970,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.166300e+01
1672,Netherlands,NLD,1969,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.148100e+01
1673,Netherlands,NLD,1968,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.130000e+01
1674,Netherlands,NLD,1967,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.111800e+01
1675,Netherlands,NLD,1966,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.093600e+01
1676,Netherlands,NLD,1965,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.075300e+01
1677,Netherlands,NLD,1964,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.057000e+01
1678,Netherlands,NLD,1963,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.038700e+01
1679,Netherlands,NLD,1962,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.020400e+01
1680,Netherlands,NLD,1961,Urban population (% of total),SP.URB.TOTL.IN.ZS,6.002000e+01
1681,Netherlands,NLD,1960,Urban population (% of total),SP.URB.TOTL.IN.ZS,5.975200e+01

In [124]:
index_list = ["Population, total", 
              "International migrant stock (% of population)", 
              "Population growth (annual %)", 
              "GDP per capita, PPP (current international $)",
              "GINI index (World Bank estimate)",
              "Urban population (% of total)"]

In [125]:
df = countries_indicators_residing.pivot_table('#indicator+num', ['#country+name','#date+year'], '#indicator+name')

In [116]:
index_list.insert(0, '#country+name')

In [117]:
index_list.insert(1, '#date+year')

In [126]:
index_list

['Population, total',
 'International migrant stock (% of population)',
 'Population growth (annual %)',
 'GDP per capita, PPP (current international $)',
 'GINI index (World Bank estimate)',
 'Urban population (% of total)']

In [127]:
df = df[index_list]

In [128]:
df

#indicator+name           Population, total  \
#country+name #date+year
Netherlands   1960               11486631.0
              1961               11638712.0
              1962               11805689.0
              1963               11965966.0
              1964               12127120.0
              1965               12294732.0
              1966               12456251.0
              1967               12598201.0
              1968               12729721.0
              1969               12877984.0
              1970               13038526.0
              1971               13194497.0
              1972               13328593.0
              1973               13439322.0
              1974               13545056.0
              1975               13666335.0
              1976               13774037.0
              1977               13856185.0
              1978               13941700.0
              1979               14038270.0
              1980               14149800.0
              1981               14247208.0
              1982               14312690.0
              1983               14367070.0
              1984               14424211.0
              1985               14491632.0
              1986               14572278.0
              1987               14665037.0
              1988               14760094.0
              1989               14848907.0
              1990               14951510.0
              1991               15069798.0
              1992               15184166.0
              1993               15290368.0
              1994               15382838.0
              1995               15459006.0
              1996               15530498.0
              1997               15610650.0
              1998               15707209.0
              1999               15812088.0
              2000               15925513.0
              2001               16046180.0
              2002               16148929.0
              2003               16225302.0
              2004               16281779.0
              2005               16319868.0
              2006               16346101.0
              2007               16381696.0
              2008               16445593.0
              2009               16530388.0
              2010               16615394.0
              2011               16693074.0
              2012               16754962.0
              2013               16804432.0
              2014               16865008.0
              2015               16939923.0
              2016               17030314.0
              2017               17132854.0

#indicator+name           International migrant stock (% of population)  \
#country+name #date+year
Netherlands   1960                                                  NaN
              1961                                                  NaN
              1962                                                  NaN
              1963                                                  NaN
              1964                                                  NaN
              1965                                                  NaN
              1966                                                  NaN
              1967                                                  NaN
              1968                                                  NaN
              1969                                                  NaN
              1970                                                  NaN
              1971                                                  NaN
              1972                                                  NaN
              1973                                                  NaN
              1974                                                  NaN
              1975                                                  NaN
              1976                                                  NaN
              1977                                                  NaN
              1978                                                  NaN
              1979                                                  NaN
              1980                                                  NaN
              1981                                                  NaN
              1982                                                  NaN
              1983                                                  NaN
              1984                                                  NaN
              1985                                                  NaN
              1986                                                  NaN
              1987                                                  NaN
              1988                                                  NaN
              1989                                                  NaN
              1990                                             7.926597
              1991                                                  NaN
              1992                                                  NaN
              1993                                                  NaN
              1994                                                  NaN
              1995                                             8.712583
              1996                                                  NaN
              1997                                                  NaN
              1998                                                  NaN
              1999                                                  NaN
              2000                                             9.791968
              2001                                                  NaN
              2002                                                  NaN
              2003                                                  NaN
              2004                                                  NaN
              2005                                            10.630447
              2006                                                  NaN
              2007                                                  NaN
              2008                                                  NaN
              2009                                                  NaN
              2010                                            11.018262
              2011                                                  NaN
              2012                                                  NaN
              2013                                                  NaN
              2014                                                  NaN
              2015                                            11.695683
              2016                                                  NaN
              2017                                                  NaN

#indicator+name           Population growth (annual %)  \
#country+name #date+year
Netherlands   1960                            1.952179
              1961                            1.315295
              1962                            1.424475
              1963                            1.348492
              1964                            1.337781
              1965                            1.372661
              1966                            1.305171
              1967                            1.133144
              1968                            1.038547
              1969                            1.157969
              1970                            1.238933
              1971                            1.189134
              1972                            1.011173
              1973                            0.827331
              1974                            0.783672
              1975                            0.891390
              1976                            0.784993
              1977                            0.594626
              1978                            0.615265
              1979                            0.690282
              1980                            0.791332
              1981                            0.686047
              1982                            0.458560
              1983                            0.379223
              1984                            0.396933
              1985                            0.466327
              1986                            0.554958
              1987                            0.634527
              1988                            0.646096
              1989                            0.599907
              1990                            0.688604
              1991                            0.788031
              1992                            0.756057
              1993                            0.696991
              1994                            0.602938
              1995                            0.493927
              1996                            0.461396
              1997                            0.514767
              1998                            0.616641
              1999                            0.665493
              2000                            0.714770
              2001                            0.754840
              2002                            0.638292
              2003                            0.471814
              2004                            0.347475
              2005                            0.233663
              2006                            0.160614
              2007                            0.217522
              2008                            0.389292
              2009                            0.514285
              2010                            0.512923
              2011                            0.466429
              2012                            0.370055
              2013                            0.294821
              2014                            0.359828
              2015                            0.443220
              2016                            0.532179
              2017                            0.600297

#indicator+name           GDP per capita, PPP (current international $)  \
#country+name #date+year
Netherlands   1960                                                  NaN
              1961                                                  NaN
              1962                                                  NaN
              1963                                                  NaN
              1964                                                  NaN
              1965                                                  NaN
              1966                                                  NaN
              1967                                                  NaN
              1968                                                  NaN
              1969                                                  NaN
              1970                                                  NaN
              1971                                                  NaN
              1972                                                  NaN
              1973                                                  NaN
              1974                                                  NaN
              1975                                                  NaN
              1976                                                  NaN
              1977                                                  NaN
              1978                                                  NaN
              1979                                                  NaN
              1980                                                  NaN
              1981                                                  NaN
              1982                                                  NaN
              1983                                                  NaN
              1984                                                  NaN
              1985                                                  NaN
              1986                                                  NaN
              1987                                                  NaN
              1988                                                  NaN
              1989                                                  NaN
              1990                                         18910.912519
              1991                                         19859.870008
              1992                                         20503.511484
              1993                                         21107.703430
              1994                                         22061.786149
              1995                                         23109.293253
              1996                                         24218.844597
              1997                                         25714.522469
              1998                                         27336.222383
              1999                                         28946.097182
              2000                                         31591.928606
              2001                                         32864.234230
              2002                                         33991.059285
              2003                                         33701.112970
              2004                                         35428.394313
              2005                                         37265.345088
              2006                                         40602.653395
              2007                                         43471.637973
              2008                                         45843.892234
              2009                                         44037.364114
              2010                                         44542.836549
              2011                                         46066.652406
              2012                                         46707.269708
              2013                                         48666.317852
              2014                                         48606.253608
              2015                                         49527.669664
              2016                                         50538.606570
              2017                                         52503.268269

#indicator+name           GINI index (World Bank estimate)  \
#country+name #date+year
Netherlands   1960                                     NaN
              1961                                     NaN
              1962                                     NaN
              1963                                     NaN
              1964                                     NaN
              1965                                     NaN
              1966                                     NaN
              1967                                     NaN
              1968                                     NaN
              1969                                     NaN
              1970                                     NaN
              1971                                     NaN
              1972                                     NaN
              1973                                     NaN
              1974                                     NaN
              1975                                     NaN
              1976                                     NaN
              1977                                     NaN
              1978                                     NaN
              1979                                     NaN
              1980                                     NaN
              1981                                     NaN
              1982                                     NaN
              1983                                     NaN
              1984                                     NaN
              1985                                     NaN
              1986                                     NaN
              1987                                     NaN
              1988                                     NaN
              1989                                     NaN
              1990                                     NaN
              1991                                     NaN
              1992                                     NaN
              1993                                     NaN
              1994                                     NaN
              1995                                     NaN
              1996                                     NaN
              1997                                     NaN
              1998                                     NaN
              1999                                     NaN
              2000                                     NaN
              2001                                     NaN
              2002                                     NaN
              2003                                     NaN
              2004                                    29.8
              2005                                    29.0
              2006                                    30.0
              2007                                    29.6
              2008                                    29.3
              2009                                    27.9
              2010                                    27.8
              2011                                    27.7
              2012                                    27.6
              2013                                    28.1
              2014                                    28.6
              2015                                    28.2
              2016                                     NaN
              2017                                     NaN

#indicator+name           Urban population (% of total)
#country+name #date+year
Netherlands   1960                               59.752
              1961                               60.020
              1962                               60.204
              1963                               60.387
              1964                               60.570
              1965                               60.753
              1966                               60.936
              1967                               61.118
              1968                               61.300
              1969                               61.481
              1970                               61.663
              1971                               61.913
              1972                               62.232
              1973                               62.550
              1974                               62.867
              1975                               63.183
              1976                               63.498
              1977                               63.811
              1978                               64.123
              1979                               64.435
              1980                               64.745
              1981                               65.104
              1982                               65.511
              1983                               65.916
              1984                               66.319
              1985                               66.719
              1986                               67.117
              1987                               67.513
              1988                               67.906
              1989                               68.296
              1990                               68.684
              1991                               69.329
              1992                               70.223
              1993                               71.100

In [ ]:
index_list = ["Population, total", 
              "International migrant stock (% of population)", 
              "Population growth (annual %)", 
              "GDP per capita, PPP (current international $)",
              "GINI index (World Bank estimate)",
              "Urban population (% of total)"]

In [137]:
df['New_ID'] = range(0, 0+len(df))

In [138]:
df

#indicator+name           Population, total  \
#country+name #date+year
Netherlands   1960                 11486631
              1961                 11638712
              1962                 11805689
              1963                 11965966
              1964                 12127120
              1965                 12294732
              1966                 12456251
              1967                 12598201
              1968                 12729721
              1969                 12877984
              1970                 13038526
              1971                 13194497
              1972                 13328593
              1973                 13439322
              1974                 13545056
              1975                 13666335
              1976                 13774037
              1977                 13856185
              1978                 13941700
              1979                 14038270
              1980                 14149800
              1981                 14247208
              1982                 14312690
              1983                 14367070
              1984                 14424211
              1985                 14491632
              1986                 14572278
              1987                 14665037
              1988                 14760094
              1989                 14848907
              1990                 14951510
              1991                 15069798
              1992                 15184166
              1993                 15290368
              1994                 15382838
              1995                 15459006
              1996                 15530498
              1997                 15610650
              1998                 15707209
              1999                 15812088
              2000                 15925513
              2001                 16046180
              2002                 16148929
              2003                 16225302
              2004                 16281779
              2005                 16319868
              2006                 16346101
              2007                 16381696
              2008                 16445593
              2009                 16530388
              2010                 16615394
              2011                 16693074
              2012                 16754962
              2013                 16804432
              2014                 16865008
              2015                 16939923
              2016                 17030314
              2017                 17132854

#indicator+name           International migrant stock (% of population)  \
#country+name #date+year
Netherlands   1960                                                  NaN
              1961                                                  NaN
              1962                                                  NaN
              1963                                                  NaN
              1964                                                  NaN
              1965                                                  NaN
              1966                                                  NaN
              1967                                                  NaN
              1968                                                  NaN
              1969                                                  NaN
              1970                                                  NaN
              1971                                                  NaN
              1972                                                  NaN
              1973                                                  NaN
              1974                                                  NaN
              1975                                                  NaN
              1976                                                  NaN
              1977                                                  NaN
              1978                                                  NaN
              1979                                                  NaN
              1980                                                  NaN
              1981                                                  NaN
              1982                                                  NaN
              1983                                                  NaN
              1984                                                  NaN
              1985                                                  NaN
              1986                                                  NaN
              1987                                                  NaN
              1988                                                  NaN
              1989                                                  NaN
              1990                                             7.926597
              1991                                                  NaN
              1992                                                  NaN
              1993                                                  NaN
              1994                                                  NaN
              1995                                             8.712583
              1996                                                  NaN
              1997                                                  NaN
              1998                                                  NaN
              1999                                                  NaN
              2000                                             9.791968
              2001                                                  NaN
              2002                                                  NaN
              2003                                                  NaN
              2004                                                  NaN
              2005                                            10.630447
              2006                                                  NaN
              2007                                                  NaN
              2008                                                  NaN
              2009                                                  NaN
              2010                                            11.018262
              2011                                                  NaN
              2012                                                  NaN
              2013                                                  NaN
              2014                                                  NaN
              2015                                            11.695683
              2016                                                  NaN
              2017                                                  NaN

#indicator+name           Population growth (annual %)  \
#country+name #date+year
Netherlands   1960                            1.952179
              1961                            1.315295
              1962                            1.424475
              1963                            1.348492
              1964                            1.337781
              1965                            1.372661
              1966                            1.305171
              1967                            1.133144
              1968                            1.038547
              1969                            1.157969
              1970                            1.238933
              1971                            1.189134
              1972                            1.011173
              1973                            0.827331
              1974                            0.783672
              1975                            0.891390
              1976                            0.784993
              1977                            0.594626
              1978                            0.615265
              1979                            0.690282
              1980                            0.791332
              1981                            0.686047
              1982                            0.458560
              1983                            0.379223
              1984                            0.396933
              1985                            0.466327
              1986                            0.554958
              1987                            0.634527
              1988                            0.646096
              1989                            0.599907
              1990                            0.688604
              1991                            0.788031
              1992                            0.756057
              1993                            0.696991
              1994                            0.602938
              1995                            0.493927
              1996                            0.461396
              1997                            0.514767
              1998                            0.616641
              1999                            0.665493
              2000                            0.714770
              2001                            0.754840
              2002                            0.638292
              2003                            0.471814
              2004                            0.347475
              2005                            0.233663
              2006                            0.160614
              2007                            0.217522
              2008                            0.389292
              2009                            0.514285
              2010                            0.512923
              2011                            0.466429
              2012                            0.370055
              2013                            0.294821
              2014                            0.359828
              2015                            0.443220
              2016                            0.532179
              2017                            0.600297

#indicator+name           GDP per capita, PPP (current international $)  \
#country+name #date+year
Netherlands   1960                                                  NaN
              1961                                                  NaN
              1962                                                  NaN
              1963                                                  NaN
              1964                                                  NaN
              1965                                                  NaN
              1966                                                  NaN
              1967                                                  NaN
              1968                                                  NaN
              1969                                                  NaN
              1970                                                  NaN
              1971                                                  NaN
              1972                                                  NaN
              1973                                                  NaN
              1974                                                  NaN
              1975                                                  NaN
              1976                                                  NaN
              1977                                                  NaN
              1978                                                  NaN
              1979                                                  NaN
              1980                                                  NaN
              1981                                                  NaN
              1982                                                  NaN
              1983                                                  NaN
              1984                                                  NaN
              1985                                                  NaN
              1986                                                  NaN
              1987                                                  NaN
              1988                                                  NaN
              1989                                                  NaN
              1990                                         18910.912519
              1991                                         19859.870008
              1992                                         20503.511484
              1993                                         21107.703430
              1994                                         22061.786149
              1995                                         23109.293253
              1996                                         24218.844597
              1997                                         25714.522469
              1998                                         27336.222383
              1999                                         28946.097182
              2000                                         31591.928606
              2001                                         32864.234230
              2002                                         33991.059285
              2003                                         33701.112970
              2004                                         35428.394313
              2005                                         37265.345088
              2006                                         40602.653395
              2007                                         43471.637973
              2008                                         45843.892234
              2009                                         44037.364114
              2010                                         44542.836549
              2011                                         46066.652406
              2012                                         46707.269708
              2013                                         48666.317852
              2014                                         48606.253608
              2015                                         49527.669664
              2016                                         50538.606570
              2017                                         52503.268269

#indicator+name           GINI index (World Bank estimate)  \
#country+name #date+year
Netherlands   1960                                     NaN
              1961                                     NaN
              1962                                     NaN
              1963                                     NaN
              1964                                     NaN
              1965                                     NaN
              1966                                     NaN
              1967                                     NaN
              1968                                     NaN
              1969                                     NaN
              1970                                     NaN
              1971                                     NaN
              1972                                     NaN
              1973                                     NaN
              1974                                     NaN
              1975                                     NaN
              1976                                     NaN
              1977                                     NaN
              1978                                     NaN
              1979                                     NaN
              1980                                     NaN
              1981                                     NaN
              1982                                     NaN
              1983                                     NaN
              1984                                     NaN
              1985                                     NaN
              1986                                     NaN
              1987                                     NaN
              1988                                     NaN
              1989                                     NaN
              1990                                     NaN
              1991                                     NaN
              1992                                     NaN
              1993                                     NaN
              1994                                     NaN
              1995                                     NaN
              1996                                     NaN
              1997                                     NaN
              1998                                     NaN
              1999                                     NaN
              2000                                     NaN
              2001                                     NaN
              2002                                     NaN
              2003                                     NaN
              2004                                    29.8
              2005                                    29.0
              2006                                    30.0
              2007                                    29.6
              2008                                    29.3
              2009                                    27.9
              2010                                    27.8
              2011                                    27.7
              2012                                    27.6
              2013                                    28.1
              2014                                    28.6
              2015                                    28.2
              2016                                     NaN
              2017                                     NaN

#indicator+name           Urban population (% of total)  New_ID
#country+name #date+year
Netherlands   1960                               59.752       0
              1961                               60.020       1
              1962                               60.204       2
              1963                               60.387       3
              1964                               60.570       4
              1965                               60.753       5
              1966                               60.936       6
              1967                               61.118       7
              1968                               61.300       8
              1969                               61.481       9
              1970                               61.663      10
              1971                               61.913      11
              1972                               62.232      12
              1973                               62.550      13
              1974                               62.867      14
              1975                               63.183      15
              1976                               63.498      16
              1977                               63.811      17
              1978                               64.123      18
              1979                               64.435      19
              1980                               64.745      20
              1981                               65.104      21
              1982                               65.511      22
              1983                               65.916      23
              1984                               66.319      24
              1985                               66.719      25
              1986                               67.117      26
              1987                               67.513      27
              1988                               67.906      28
              1989                               68.296      29

In [139]:
with open(path_out + 'countries_residing.csv', 'w') as f:
    
    first_line_file = ["country:LABEL(Country)",
                       "year:int", 
                       "population:int", 
                       "int_migrant_stock:float", 
                       "pop_growth_percentage:float", 
                       "GDP_dollars:float", 
                       "GINI:float", 
                       "urban_pop_percentage:float",
                       ":ID"]
    csv.writer(f).writerow(first_line_file)
    df['Population, total'] = df['Population, total'].astype(int)
    df.to_csv(f, header=False)

In [136]:
countries_indicators_originating = process_nodes_neo4j(indicators_list, path_in_indicators, file_out_indicators_originating, countries_originating, WRITE_DATA_FLAG)